
.text{
    padding: 33px 0px 33px 0px;
}
.text h3{
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    text-transform: lowercase;
    }
.text ul li{
        
        text-transform: uppercase;
        list-style: none;
        margin: 0;
        padding: 0; 
        display: inline-block;
        text-decoration: none;
    }
.one{ 
    display: inline-block;
    background-color: #1d749f;
    padding: 9px 20px 5px 20px;
    margin: 0;
    color: #f9f9f9;
}
.two{
    display: inline-block;
    background-color: #ffffff;
    padding: 3px 15px 0px 15px;
    margin: 0;
    margin-left: -6px;
    color: #1d749f;
    border: solid 1px #1d749f;
}
.text span{
    font-size: 25px;
    padding-right: 5px;
}
.carrd{
    width: 18%;
    float: left;
    margin-right: 21px;
    border-radius: 2px;
    border: solid 0.4px #c3bdbd;
    box-shadow: 3px 11px 16px -4px #0e0e0e;
}
.carrd p{
    color: #8d8b88;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-align: center;
    margin: 0;
}
.newspan{
    
    color: #8d8b88;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.2px; 
    text-align: center;
    margin: 0;
}

.carrd span{
    font-size: 17px;
    color: #1d749f;}
.num3{
    margin-top: 10px;
    text-align: left;
}
.num3 button{
    width: 59px;
    margin-left: 21px;
    background-color: #1d749f;
    border: #1d749f;
    font-size: 11px;
    color: white;
    padding: 0px 6px 0px 6px;
}
 